html, body {
  height: 100vh;
  overflow: hidden; }

header {
  height: 2rem;
  width: 100%;
  background-color: #1C262F;
  position: absolute;
  z-index: 2;
  top: 0;
  display: flex;
  justify-content: center; }

.background {
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: green;
  padding-top: 2rem; }

.drawer {
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: yellow;
  width: 200px;
  z-index: 3;
  transform: translate(-200px, 0);
  transition: transform 0.3s ease-out; }
  .drawer__toggle {
    position: absolute;
    right: -2rem;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    cursor: pointer; }
  .drawer__toggle-icon {
    position: absolute;
    right: 0.4rem;
    top: 0.4rem;
    filter: invert(100%);
    height: 1.2rem;
    width: 1.2rem; }

.popup {
  box-sizing: border-box;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: blue;
  position: absolute;
  transform: translate(0, 100%);
  transition: transform 0.3s ease-out;
  padding-bottom: 4rem; }
  .popup__toggle-up {
    position: absolute;
    background-color: white;
    width: 100%;
    line-height: 2rem;
    text-transform: uppercase;
    right: 0px;
    top: -2rem; }
  .popup__toggle-down {
    position: absolute;
    background-color: white;
    width: 100%;
    line-height: 2rem;
    text-transform: uppercase;
    right: 0px;
    bottom: 0px; }
  .popup__info-wrapper {
    margin: 2rem 0;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: scroll; }

.open {
  transform: translate(0, 0);
  transition: transform 0.3s ease-out; }

.preview-img {
  max-width: 200px;
  max-height: 200px; }

#map {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0; }
