$mirage: #1C262F;
$gallery: #EEE;
$headerHeight: 32px;

@mixin fullHeight {
    height: 100%;
}

@mixin viewportHeight {
    height: 100vh;
}

@mixin hide-input{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

@mixin button {
    padding: 1px 6px;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: left;
    outline: none;
    cursor: pointer;
}
@mixin drawer-button {
    @include button;
    color: $gallery;
    line-height: $headerHeight;
    height: $headerHeight;
    background-color: $mirage;
    border: 1px solid $gallery;
    outline: none;
}

@mixin full-width-drawer-button{
    @include drawer-button;
    width: 100%;
}

@mixin form-fields {
    color: #222;
    box-sizing: border-box;
    width: 200px - 12px;
}

@mixin drawers {
    @include viewportHeight;
    text-align: left;
    color: $gallery;
    width: 200px;
    background-color: $mirage;
    position: absolute;
    top: 0;
    transition: transform 0.3s ease-out;
    z-index: 2;
}

@mixin popup__toggle {
    position: absolute;
    background-color: white;
    width: 100%;
    line-height: 2rem;
    text-transform: uppercase;
    right: 0px;
}

html, body {
    height: 100%;
    overflow: hidden;
}

header {
    height: $headerHeight;
    width: 100%;
    background-color: $mirage;
    position: absolute;
    z-index: 2;
    top: 0;
    display: flex;
    justify-content: center;
}

.background {
    @include fullHeight;
    width: 100%;
    background-color: green;
    padding-top: $headerHeight;
}

// left drawer with the filter feature
.filter-drawer {
    @include drawers;
    box-sizing: border-box;
    transform: translate(-200px,0);
    // bottom padding is where the export and import btn rest
    padding: 6px 6px (2 * $headerHeight + 4);
    // move drawer to right
    &--open {
        transform: translate(0, 0);
        transition: transform 0.3s ease-out;
    }
    &__searchbox {
        @include form-fields;
    }
    // list of places that can be filterd
    &__list{
        height: 100%;
        overflow-y: scroll;
        list-style: none;
        text-transform: uppercase;
        padding: 6px 0 0;
        // customize scrollbar
        &::-webkit-scrollbar {
            width: 10px;
            right: 2px;
        }
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba(93,93,93, 0.7);
        }
        &__item{
            cursor: pointer;
        }
    }
    &__export-btn, &__import-btn {
        position: absolute;
        left: 0;
        @include full-width-drawer-button
    }
    &__export-btn {
        bottom: $headerHeight; 
    }
    &__import-btn {
        border-top: none;
        bottom: 0rem; 
    }
    &__import-input {
        @include hide-input;
    }
    // span that surrounds svg toggle icon
    &__toggle {
        position: absolute;
        right: -$headerHeight;
        top: 0;
        width: $headerHeight;
        height: $headerHeight;
        display: inline-block;
        cursor: pointer;
    }
    &__toggle-icon {
        position: absolute;
        right: 0.4rem;
        top: 0.4rem;
        filter: invert(100%);
        height: 1.2rem;
        width: 1.2rem;
    }
}

// drawer on the right to create new locations
.create-drawer {
    @include drawers;
    right: 0; 
    transform: translate(200px, 0);
    &__toggle {
        position: absolute;
        left: -$headerHeight;
        top: 0;
        width: $headerHeight;
        height: $headerHeight;
        display: inline-block;
        color: #FFF;
        cursor: pointer;
        // plus sign when create drawer is closed
        &:after{
            content: '+';
            position: absolute;
            font-size: $headerHeight;
            line-height: $headerHeight;
        }
        // minus sign when create drawer is open
        .create-drawer--open &:after {
            content: '\2212';
        }
    }
    &--open {
        transform: translate(0, 0);
        transition: transform 0.3s ease-out;
    }
    &__title {
        text-align: right;
        padding: 0px 6px;
        box-sizing: border-box;
        display: block;
        text-transform: uppercase;
        line-height: $headerHeight;
        width: 100%;
        height: $headerHeight;
        background-color: $mirage;
    }
}

.location-form {
    margin: 0px 6px;
    &__name, &__info{
        @include form-fields;
    }
    &__info{
        height: 10rem;
    }
    &__submit {
        @include full-width-drawer-button
    }
}

.popup {
    box-sizing: border-box;
    @include fullHeight;
    width: 100%;
    background-color: blue;
    position: absolute;
    bottom: 0;
    transform: translate(0,100%);
    transition: transform 0.3s ease-out;
    // add 2rem space on the bottom for the toggle-down button 
    padding-bottom: 2rem;
    &--open {
        transform: translate(0, 0);
        transition: transform 0.3s ease-out;
    }
    &__toggle-up{
        @include popup__toggle;
        top: -2rem;
    }
    &__toggle-down{
        @include popup__toggle;
        bottom: 0px;
    }
    &__info-wrapper {
        // push info-wrapper 2 rem down so that it rests under header
        margin: 2rem 0 0;
        @include fullHeight;
        overflow-y: scroll;
    }
}

.info {
    box-sizing: border-box;
    margin-top: 2rem;
    padding: 0 10px;
    height: 400px;
    width: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 8px;
        right: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(200,200,200, 0.85);
    }
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    &__name,  &__latlng, &__name--edit  {
        width: 100%;
        text-align: center;
    }
    &__name, &__name--edit {
        text-transform: uppercase;
        font-size: 1.2rem;
        padding: 0.4rem 0 0;
        font-weight: bold;
    }
    &__details {
        width: 100%;
    }
    &__details--edit {
        width: 100%;
        height: 40%;
    }
}

.preview-img {
    max-width: 200px;
    max-height: 200px;
}

#map {
    width: 100%;
    @include fullHeight;
    margin-top: $headerHeight;
}
