$mirage: #1C262F;
$gallery: #EEE;
$headerHeight: 32px;

@mixin fullHeight {
    height: 100%;
}

@mixin viewportHeight {
    height: 100vh;
}

@mixin button {
    padding: 1px 6px;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: left;
    outline: none;
}
@mixin drawer-button {
    @include button;
    color: $gallery;
    line-height: $headerHeight;
    height: $headerHeight;
    background-color: $mirage;
    border: 1px solid $gallery;
    outline: none;
}

@mixin full-width-drawer-button{
    @include drawer-button;
    width: 100%;
}

@mixin drawers {
    @include viewportHeight;
    text-align: left;
    color: $gallery;
    width: 200px;
    background-color: $mirage;
    position: absolute;
    top: 0;
    transition: transform 0.3s ease-out;
    z-index: 2;
}

@mixin popup__toggle {
    position: absolute;
    background-color: white;
    width: 100%;
    line-height: 2rem;
    text-transform: uppercase;
    right: 0px;
}

html, body {
    height: 100%;
    overflow: hidden;
}

header {
    height: $headerHeight;
    width: 100%;
    background-color: $mirage;
    position: absolute;
    z-index: 2;
    top: 0;
    display: flex;
    justify-content: center;
}

.background {
    @include fullHeight;
    width: 100%;
    background-color: green;
    padding-top: $headerHeight;
}

.filter-drawer {
    @include drawers;
    transform: translate(-200px,0);
    &--open {
        transform: translate(0, 0);
        transition: transform 0.3s ease-out;
    }
    &__list{
        height: 300px;
        overflow-y: scroll;
    }
    &__toggle {
        position: absolute;
        right: -$headerHeight;
        width: $headerHeight;
        height: $headerHeight;
        display: inline-block;
        cursor: pointer;
    }
    &__toggle-icon {
        position: absolute;
        right: 0.4rem;
        top: 0.4rem;
        filter: invert(100%);
        height: 1.2rem;
        width: 1.2rem;
    }
}


.popup {
    box-sizing: border-box;
    @include fullHeight;
    width: 100%;
    background-color: blue;
    position: absolute;
    bottom: 0;
    transform: translate(0,100%);
    transition: transform 0.3s ease-out;
    // add 2rem space on the bottom for the toggle-down button 
    // and add 2rem because the info-info wrapper top margin pushes the whole thing 2 rem down
    padding-bottom: 4rem;
    &--open {
        transform: translate(0, 0);
        transition: transform 0.3s ease-out;
    }
    &__toggle-up{
        @include popup__toggle;
        top: -2rem;
    }
    &__toggle-down{
        @include popup__toggle;
        bottom: 0px;
    }
    &__info-wrapper {
        // push info-wrapper 2 rem down so that it rests under header
        margin: 2rem 0;
        @include fullHeight;
        overflow-y: scroll;
    }
}

.preview-img {
    max-width: 200px;
    max-height: 200px;
}

#map {
    width: 100%;
    @include fullHeight;
    padding-top: $headerHeight;
}
