$mirage: #1C262F;
$gallery: #EEE;

@mixin popup__toggle {
    position: absolute;
    background-color: white;
    width: 100%;
    line-height: 2rem;
    text-transform: uppercase;
    right: 0px;
}

html, body {
  height: 100vh;
  overflow: hidden;
}

header {
    height: 2rem;
    width: 100%;
    background-color: $mirage;
    position: absolute;
    z-index: 2;
    top: 0;
    display: flex;
    justify-content: center;
}

.background {
    height: 100%;
    width: 100%;
    background-color: green;
}

.popup {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: blue;
    position: absolute;
    bottom: 0px;
    transform: translate(0,100%);
    transition: transform 0.3s ease-out;
    // the bottom padding is where the toggle-down button rests
    padding: 0 0 2rem;
    &__toggle-up{
        @include popup__toggle;
        top: -2rem;
    }
    &__toggle-down{
        @include popup__toggle;
        bottom: 0px;
    }
    &__info-wrapper {
        margin-top: 2rem;
        height: 100%;
        overflow-y: scroll;
    }
}
.open {
    transform: translate(0, 0);
    transition: transform 0.3s ease-out;
}

.preview-img {
    max-width: 200px;
    max-height: 200px;
}

#map {
  width: 100%;
  height: 100%;
}
